[project]
name = "vp-track-status"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "polars>=1.18.0",
    "requests>=2.32.5",
]

[dependency-groups]
dev = [
    "ruff>=0.14.5",
]
